html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  font-weight: 300;
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  color: #fff;
}

button,
input,
select {
  font-family: 'Open Sans';
}
}

input {
  border: 1px solid #222;
}

canvas {
  height: 100vh;
}
