html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

input {
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  position: absolute;
  background-color: #000;
  color: #fff;
  width: 100%;
}

button {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  background-color: #000;
  color: #ff0000;
  font-size: 20px;
  width: 100%;
}
